<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fperf.jpg" class="img-fluid" id="perfilphoto">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Soy estudiante universitario.
                Me considero una persona seria, responsable, organizada y proactiva. 
                Aprecio el trabajo en grupo y valoro sus experiencias. 
                Siempre doy mi mayor esfuerzo en cualquier actividad en la que me vea involucrado, 
                y trato de alcanzar el equilibrio necesario entre calidad y tiempo.
                </p>
        </span>
    </div>
</div>
