<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 part1" id="port">
            <h3>Portfolio Web</h3>
            <p>Desarrollo de una aplicación web full stack de arquitectura distribuida. Contiene: un diseño de interface (front end) que muestra información, una base de datos que almacena datos y las APIs necesarias para proveer a través de internet la información (back end). </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 part2">
            <img src="..." class="img-fluid img-project" >
        </div>
    </div>
</div>