<section class="vh-100" style="background-color: black;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-white" style="border-radius: 1rem; background-color: magenta;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Ingresar</h2>
              <p class="mb-5" style="font-family: 'Chivo Mono', monospace; color: white">Por favor, ingresá tu usuario y
                contraseña</p>

              <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

                <div class="form-outline form-white mb-4">
                  <input type="email" id="nombreUsuario" name="nombreUsuario" class="form-control form-control-lg"
                    style="font-family: 'Chivo Mono', monospace;" [(ngModel)]="nombreUsuario" name="nombreUsuario" required/>
                  <label class="form-label" for="nombreUsuario"
                    style="font-family: 'Chivo Mono', monospace;">Usuario</label>
                </div>

                <div class="form-outline form-white mb-4">
                  <input type="password" id="password" class="form-control form-control-lg" [(ngModel)]="password" name="password" required/>
                  <label class="form-label" for="password"
                    style="font-family: 'Chivo Mono', monospace;">Contraseña</label>
                </div>

                <!--<p class="small mb-5 pb-lg-2"><a class="text" href="#!"
                    style="font-family: 'Chivo Mono', monospace; color: aquamarine">¿Olvidaste tu contraseña?</a></p>-->

                <button class="btn btn-outline-light btn-lg px-5" type="submit"
                  style="font-family: 'Chivo Mono', monospace; color: white">Ingresar</button>




              </form>

              <div>
                <p class="mb-0" style="font-family: 'Chivo Mono', monospace; color: white">¿Todavía no tenés una cuenta?
                  <a href="#!" class="text fw-bold"
                    style="font-family: 'Chivo Mono', monospace; color: white">Registráte acá</a>
                </p>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>