<div class="row">
    <h1>Hard & Soft Skills</h1>
    
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
        [percent]="85"
        [imageSrc]="'../assets/html5.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [clockwise]="true"
        [responsive]="false"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="100"
        [outerStrokeColor]="'magenta'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
        [percent]="65"
        [imageSrc]="'../assets/css.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [clockwise]="true"
        [responsive]="false"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="100"
        [outerStrokeColor]="'magenta'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>
 
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
        [percent]="45"
        [imageSrc]="'../assets/js.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [clockwise]="true"
        [responsive]="false"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="100"
        [outerStrokeColor]="'magenta'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="75"
        [imageSrc]="'../assets/githubb.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [clockwise]="true"
        [responsive]="false"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="89"
        [outerStrokeColor]="'magenta'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [imageSrc]="'../assets/git.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [clockwise]="true"
        [responsive]="false"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="89"
        [outerStrokeColor]="'magenta'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [imageSrc]="'../assets/visual.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [clockwise]="true"
        [responsive]="false"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="89"
        [outerStrokeColor]="'magenta'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="95"
        [imageSrc]="'../assets/grupo.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [clockwise]="true"
        [responsive]="false"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="89"
        [outerStrokeColor]="'magenta'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [imageSrc]="'../assets/esp.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [clockwise]="true"
        [responsive]="false"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="89"
        [outerStrokeColor]="'magenta'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [imageSrc]="'../assets/eng.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [clockwise]="true"
        [responsive]="false"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="89"
        [outerStrokeColor]="'magenta'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="25"
        [imageSrc]="'../assets/fr.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [clockwise]="true"
        [responsive]="false"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="89"
        [outerStrokeColor]="'magenta'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
    </div>
</div>