<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11" id="edu">
        <ul>
            <li>
                <img src="../../../assets/logo-unc.png" id="unc">
                <img src="../../../assets/monserrat.png" id="cnm">
                <h3>Universidad Nacional de Córdoba - Colegio Nacional de Monserrat</h3>
                <p class="txt">Bachiller Humanista con orientación en Humanidades y Ciencias Sociales</p>
                <p class="year">2012 - 2018</p>

        </ul>
        <ul>
            <li>
                <img src="../../../assets/logo-unc.png" id="unc">
                <img src="../../../assets/monserrat.png" id="cnm">
                <h3>Universidad Nacional de Córdoba - Colegio Nacional de Monserrat</h3>
                <p class="txt">Comunicador Visual</p>
                <p class="year">2019 - 2020</p>
                
        </ul>
        <ul>
            <li>
                <img src="../../../assets/logo-unc.png" id="unc">
                <img src="../../../assets/FL.png" id="fl">
                <h3>Universidad Nacional de Córdoba - Facultad de Lenguas</h3>
                <p class="txt">Traductorado Público Nacional de Inglés</p>
                <p class="year">2021 - Presente</p>
                
        </ul>
    </div>
</div>