<div class="container">
    <div class="row">
        <h1>Educación</h1>

        <div class="col-lg-2">
            <button type="button" class="btn btn-dark" routerLink="/xxx" *ngIf="isLogged">
                AÑADIR
            </button>
        </div>

        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <ul *ngFor="let Educacion of educacion">
                <li>
                    <img src={{Educacion.imgEdu}}>
                    <img src={{Educacion.imgEdu}}>
                    <h3>{{Educacion.nombreEdu}}</h3>
                    <p>{{Educacion.descripcionEdu}}</p>
                    <p>{{Educacion.yearsEdu}}</p>
                    <p>EDITAR</p>
                    <p>BORRAR</p>
                </li>
            </ul>
        </div>

    </div>
</div>