<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="http://"><img src="../../../assets/instagram.png" alt=""></a>
                <a href="http://"><img src="../../../assets/github.png" alt=""></a>
                <button type="button" class="btn btn-outline-light" style="color: white; font-family: 'Chivo Mono', monospace;" (click)="login()">INGRESO</button>
            </div>
        </div>
    </div>
</div>



